* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;

}

h3{
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem;
}

.rating-span{
  margin: 0.1rem 0;
}

/* COMPONENT / PRODUCT - ProductName */
#product-name-link:hover {
 font-weight: 800;
}


/* CAROUSEL */

/* #carousel {
  height: 500px;
} */

.carousel-item-next,
.carousel-item-prv,
.carousel-item.active {
  display: flex;
  align-content: center;
  justify-content: center;
}

.carousel-caption {
  /* position: absolute; */
  top: 0;
}

.carousel-caption h2 {
  position: relative;
  display: block;
  color: #fff;
  /* display: block;
  padding-bottom: 10px; */
}

.carousel img {
  /* display: flex;
  justify-self: center;
  align-self: center; */
  display: block;
  border-radius: 50%;
  height: 300px;
  padding: 30px;
  margin: 60px auto 40px auto;
}

/* .carousel .a {
  margin: 0 auto;
}  */